body {
  padding-top: 3%;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-deploy {
  text-align: center;
  padding: 19px 20px 19px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
  margin-bottom: 5px;
}

.form-deploy .form-deploy-heading {
  margin-bottom: 10px;
  text-align: center;
}

.form-deploy #project_select {
  width: 200px;
}

.form-deploy select, .form-deploy button {
  margin: 0 auto 15px;
  display: block;
}

#info-message-section {
  text-align: left;
}

.app-url {
  font-size: 12px;
}

.remaining-progress .bar {
  background-color: #EE7A70;
}

#central-widget {
  max-width: 320px;
  margin: 0 auto 20px;
}

.modal .btn {
  margin-bottom: 10px;
}

.embed-code-textarea {
  resize: none;
  width: 100%;
  cursor: default !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}