<div id="embed-buttons" class="modal container hide fade" tabindex="-1" role="dialog" aria-labelledby="embed-buttons-label" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="embed-buttons-label">Click on a button to generate the embed code</h3>
  </div>
  <div class="modal-body">
    <div class="row-fluid">
      <div class="span3">
        <button class="btn btn-mini" data-size="mini" data-color="grey" data-slug="{{ object.slug }}">Launch demo site</button>
      </div>
      <div class="span3">
        <button class="btn btn-small" data-size="small" data-color="grey" data-slug="{{ object.slug }}">Launch demo site</button>
      </div>
      <div class="span3">
        <button class="btn btn-medium" data-size="medium" data-color="grey" data-slug="{{ object.slug }}">Launch demo site</button>
      </div>
      <div class="span3">
        <button class="btn btn-large" data-size="large" data-color="grey" data-slug="{{ object.slug }}">Launch demo site</button>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span3">
        <button class="btn btn-mini btn-primary" data-size="mini" data-color="blue" data-slug="{{ object.slug }}">Launch demo site</button>
      </div>
      <div class="span3">
        <button class="btn btn-small btn-primary" data-size="small" data-color="blue" data-slug="{{ object.slug }}">Launch demo site</button>
      </div>
      <div class="span3">
        <button class="btn btn-medium btn-primary" data-size="medium" data-color="blue" data-slug="{{ object.slug }}">Launch demo site</button>
      </div>
      <div class="span3">
        <button class="btn btn-large btn-primary" data-size="large" data-color="blue" data-slug="{{ object.slug }}">Launch demo site</button>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span3">
        <button class="btn btn-mini btn-success" data-size="mini" data-color="green" data-slug="{{ object.slug }}">Launch demo site</button>
      </div>
      <div class="span3">
        <button class="btn btn-small btn-success" data-size="small" data-color="green" data-slug="{{ object.slug }}">Launch demo site</button>
      </div>
      <div class="span3">
        <button class="btn btn-medium btn-success" data-size="medium" data-color="green" data-slug="{{ object.slug }}">Launch demo site</button>
      </div>
      <div class="span3">
        <button class="btn btn-large btn-success" data-size="large" data-color="green" data-slug="{{ object.slug }}">Launch demo site</button>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span3">
        <button class="btn btn-mini btn-warning" data-size="mini" data-color="orange" data-slug="{{ object.slug }}">Launch demo site</button>
      </div>
      <div class="span3">
        <button class="btn btn-small btn-warning" data-size="small" data-color="orange" data-slug="{{ object.slug }}">Launch demo site</button>
      </div>
      <div class="span3">
        <button class="btn btn-medium btn-warning" data-size="medium" data-color="orange" data-slug="{{ object.slug }}">Launch demo site</button>
      </div>
      <div class="span3">
        <button class="btn btn-large btn-warning" data-size="large" data-color="orange" data-slug="{{ object.slug }}">Launch demo site</button>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span3">
        <button class="btn btn-mini btn-danger" data-size="mini" data-color="red" data-slug="{{ object.slug }}">Launch demo site</button>
      </div>
      <div class="span3">
        <button class="btn btn-small btn-danger" data-size="small" data-color="red" data-slug="{{ object.slug }}">Launch demo site</button>
      </div>
      <div class="span3">
        <button class="btn btn-medium btn-danger" data-size="medium" data-color="red" data-slug="{{ object.slug }}">Launch demo site</button>
      </div>
      <div class="span3">
        <button class="btn btn-large btn-danger" data-size="large" data-color="red" data-slug="{{ object.slug }}">Launch demo site</button>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span3">
        <button class="btn btn-mini btn-inverse" data-size="mini" data-color="black" data-slug="{{ object.slug }}">Launch demo site</button>
      </div>
      <div class="span3">
        <button class="btn btn-small btn-inverse" data-size="small" data-color="black" data-slug="{{ object.slug }}">Launch demo site</button>
      </div>
      <div class="span3">
        <button class="btn btn-medium btn-inverse" data-size="medium" data-color="black" data-slug="{{ object.slug }}">Launch demo site</button>
      </div>
      <div class="span3">
        <button class="btn btn-large btn-inverse" data-size="large" data-color="black" data-slug="{{ object.slug }}">Launch demo site</button>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span6">
        <h4>Image URL</h4>
        <textarea name="embed-image-code" id="embed-image-code" class="embed-code-textarea" readonly cols="120" rows="3"></textarea>
      </div>
      <div class="span6">
        <h4>HTML code</h4>
        <textarea name="embed-html-code" id="embed-html-code" class="embed-code-textarea" readonly cols="120" rows="3"></textarea>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span6">
        <h4>Markdown code</h4>
        <textarea name="embed-markdown-code" id="embed-markdown-code" class="embed-code-textarea" readonly cols="120" rows="3"></textarea>
      </div>
      <div class="span6">
        <h4>reStructuredText</h4>
        <textarea name="embed-rest-code" id="embed-rest-code" class="embed-code-textarea" readonly cols="120" rows="3"></textarea>
      </div>
    </div>
  </div>
</div>