{% load static from staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>Appsembler Launcher</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" media="screen">
    <link href="{% static "css/bootstrap-responsive.min.css" %}" rel="stylesheet" media="screen">
    <link href="{% static "css/app.css" %}" rel="stylesheet" media="screen">
    {% block extra_css %}{% endblock extra_css %}
  </head>
  <body>
    <div class="container">
      {% block content %}{% endblock %}
    </div> <!-- /container -->

    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/json2.js" %}"></script>
    <script src="{% static "js/underscore-min.js" %}"></script>
    <script src="{% static "js/backbone-min.js" %}"></script>
    {% block extra_js %}
    {% endblock extra_js %}
    {% block js_templates %}
    {% endblock js_templates %}
    {% if not debug %}
    <script type="text/javascript"> var analytics=analytics||[];(function(){var e=["identify","track","trackLink","trackForm","trackClick","trackSubmit","page","pageview","ab","alias","ready","group"],t=function(e){return function(){analytics.push([e].concat(Array.prototype.slice.call(arguments,0)))}};for(var n=0;n<e.length;n++)analytics[e[n]]=t(e[n])})(),analytics.load=function(e){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src=("https:"===document.location.protocol?"https://":"http://")+"http://d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/"+e+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n)}; analytics.load("y8ne7c35t2"); </script>
    {% endif %}
  </body>
</html>