{% load static from staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>OpenShift Deployer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet" media="screen">
    <link href="{% static "css/bootstrap-responsive.css" %}" rel="stylesheet" media="screen">
    <link href="{% static "css/app.css" %}" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      {% block content %}{% endblock %}
    </div> <!-- /container -->

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
    <script src="{% static "js/json2.js" %}"></script>
    <script src="{% static "js/underscore.js" %}"></script>
    <script src="{% static "js/backbone.js" %}"></script>
    {% block extra_js %}
    {% endblock extra_js %}  
  </body>
</html>