{% load static from staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>OpenShift Deployer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet" media="screen">
    <link href="{% static "css/app.css" %}" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <form class="form-deploy">
        <h3 class="form-deploy-heading">Pick your weapon</h3>
        <select name="project" id="project_select">
          <option value="wordpress">Wordpress</option>
          <option value="mezzanine">Mezzanine</option>
        </select>
        <button class="btn btn-success" type="submit">Fire away!</button>
      </form>

    </div> <!-- /container -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
  </body>
</html>