{% load static from staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>OpenShift Deployer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet" media="screen">
    <link href="{% static "css/app.css" %}" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container"></div> <!-- /container -->

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
    <script src="{% static "js/json2.js" %}"></script>
    <script src="{% static "js/underscore.js" %}"></script>
    <script src="{% static "js/backbone.js" %}"></script>
    <script src="{% static "js/app.js" %}"></script>

    <!-- Templates -->
    <script type="text/template" id="project_form_template">
      <form class="form-deploy" method="post">
        <h3 class="form-deploy-heading">Pick your weapon</h3>
        <select name="project" id="project_select">
          <% _.each(projects, function(project) { %>
              <option value="<%= project.resource_uri %>"><%= project.name %></option>
          <% }); %>
        </select>
        <h4>Where can we send the URL?</h4>
        <div class="input-prepend">
          <span class="add-on"><i class="icon-envelope"></i></span>
          <input type="text" name="email" value="" placeholder="name@domain.com">  
        </div>
        <button class="btn btn-success" type="submit">Fire away!</button>
      </form>
    </script>

    <script type="text/template" id="deploy_status_template">
    <div class="form-deploy">
      <img src="{% static "img/ajax-loader.gif" %}" alt="loader">
      <h3>Working some magic...</h3>
      <div class="progress progress-striped active">
        <div class="bar" style="width: 20%;"></div>
      </div>
      <div class="alert alert-info" id="info-message">
        <i class="icon-wrench"></i> Cloning the code...
      </div>
    </div>
    </script>    
  </body>
</html>