{% load static from staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>OpenShift Deployer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet" media="screen">
    <link href="{% static "css/app.css" %}" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container"></div> <!-- /container -->

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
    <script src="{% static "js/json2.js" %}"></script>
    <script src="{% static "js/underscore.js" %}"></script>
    <script src="{% static "js/backbone.js" %}"></script>
    <script src="{% static "js/app.js" %}"></script>

    <!-- Templates -->
    {% verbatim %}
    <script type="text/template" id="project_form_template">
      <form class="form-deploy" method="post">
        <h3 class="form-deploy-heading">Pick your weapon</h3>
        <select name="project" id="project_select">
          <% _.each(projects, function(project) { %>
              <option value="<%= project.resource_uri %>"><%= project.name %></option>
          <% }); %>
        </select>
        <div class="alert alert-info" id="info-message">
          Cloning the code...
        </div>
        <button class="btn btn-success" type="submit">Fire away!</button>
      </form>
    </script>
    {% endverbatim %}
  </body>
</html>