{% extends "base.html" %}
{% load static from staticfiles %}

{% block extra_js %}
<script src="{% static "js/jquery.countdown.min.js" %}"></script>
<script>
  $("#minutes").countdown({until: '+{{remaining}}s', onTick: updateProgressbar, tickInterval: 10,
   layout: '{mn} {ml} and {sn} {sl}'});
  
  function updateProgressbar(periods) {
    var percentage = (periods[5] / 60) * 100;
    $('.bar').width(percentage + '%');
  }
</script>
{% endblock extra_js %}

{% block content %}
<div id="central-widget">
    <div class="form-deploy">
    {% if object.status = 'Completed' %}
      <h3>{{ object.project.name }} deploy completed</h3>
      <div class="alert alert-success" id="info-message-section">
        <i class="icon-wrench"></i><span id="info-message">Successfully deployed!</span>
      </div>
      <p><a class="app-url" href="{{ object.url }}">{{ object.url }}</a></p>
      <p><strong id="minutes">{{ remaining }}</strong> remaining to evaluate {{ object.project.name }}</p>
      {% if remaining > 0 %}
      <div class="progress progress-striped active remaining-progress">
        <div class="bar" style="width: {{ percentage }}%;"></div>
      </div>
      {% endif %}
    {% elif object.status = 'Failed' %}
      <h3>{{ object.project.name }} deploy failed</h3>
      <div class="alert alert-error" id="info-message-section">
        <i class="icon-remove"></i><span id="info-message">There's been an error during deployment</span>
      </div>
      <p class="error_message">{{ object.project.name }} couldn't be deployed</p> 
    {% endif %}
    </div>
</div>
{% endblock content %}